---
import "../styles/app.css";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="telmo | las cosas de telmo">
  <main class="flex items-center justify-center px-5 sm:px-6 pt-16">
    <img src="/svg/telmo.svg" alt="Telmo sobre orca" class="max-w-lg w-full" />
  </main>
</SiteLayout>
